  @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
    background-color: #000;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a;
}

header #logo {
    width: 150px;
    height: auto;
}

header #navigation {
    width: 60%;
}

header #navigation ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header #navigation  li {
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}

header #navigation li:hover {
    color: #d21617;
}

#form-container {
  width: 100%;
  height: 600px;
  background-image: url('../img/banner-1.jpg');
  background-position: 4% 50%;
  background-size: cover;
  position: relative;
}

#contact-form {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #262626;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact-form h1 {
  font-size: 19px;
  text-align: center;
  border-bottom: 1px solid #262626;
  background-color: #262626;
  padding: 5px 0;
}

#contact-form label {
  width: 100%;
  display: block;
  background-color: #1c1c1c;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #161712;
  padding: 10px 0;
}

#contact-form label span {
  display: block;
  color: #bbb;
  font-size: 13px;
  float: left;
  width: 100px;
  text-align: right;
  padding: 5px 20px 0 5px;
}

#contact-form label .input-text {
  width: 200px;
  padding: 10px;
  background-color: #262626;
  border-top: 1px double #171717;
  border-bottom: 1px double #171717;
  border-left: 1px double #333;
  border-right: 1px double #333;
  color: #fff;
}

#contact-form label #mensagem {
  padding: 7px;
  width: 350px;
  height: 150px;
  overflow: hidden;
}

#contact-form .button {
  position: relative;
  left: 390px;
  width: 100px;
  background-color: #d21617;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  transition: .8s;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
}

#contact-form .button:hover {
  background-color: #fff;
  color: #000;
}

footer {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1a1a1a;
}

footer span {
    color: #fff;
}

footer #footer-navigation {
    display: none;
    width: 90%;
    background-color: #1a1a1a;
}

footer #footer-navigation .footer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media all and (min-width: 1025px) and (max-width: 1240px) {
  #form-container {
      background-position-x: 63%;
  }

  #form-container #contact-form {
    left: 35%;
  }
}

@media all and (min-width: 993px) and (max-width: 1024px) {
  #form-container {
    background-position-x: 63%;
  }

  #form-container #contact-form {
    left: 33%;
  }
}

@media all and (min-width: 769px) and (max-width: 992px) {
  #form-container {
    background-position-x: 65%;
  }

  #form-container #contact-form {
    left: 33%;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  nav {
    display: none;
  }

  #form-container {
    background-image: url('../img/banner-4.png');
  }

  #form-container #contact-form {
    width: 480px;
  }

  #form-container #contact-form label #mensagem {
    width: 300px;
  }

  #form-container #contact-form label .button {
    left: 340px;
  }

  footer {
    height: 110px;
  }

  footer #footer-navigation {
      display: block;
  }

  li {
    color: #d21617;
  }
}

@media all and (min-width: 321px) and (max-width: 480px) {
  header {
    height: 60px;
  }

  header #logo {
    width: 140px;
  }

  nav {
    display: none;
  }

  #form-container {
    background-image: url('../img/banner-4.png');
  }

  #form-container #contact-form {
    width: 318px;
  } 

  #contact-form h1 {
    font-size: 14px;
  }

  #contact-form label {
    display: grid;
    padding: 5px 0;
  }

  #contact-form label span {
    font-size: 12px;
    text-align: left;
  }

  #contact-form label .input-text {
    width: 200px;
    margin-left: 5px;
  }

  #form-container #contact-form label #mensagem {
    width: 290px;
    margin-bottom: 5px;
  }

  #form-container #contact-form label .button {
    left: 210px;
    padding: 2px 10px
  }

  footer {
    height: 150px;
  }

  footer span {
    font-size: 14px;
  }

  footer #footer-navigation {
      display: block;
  }

  footer #footer-navigation .footer-list {
    display: grid;
    justify-content: space-around;
    text-align: center;
  }

  footer #footer-navigation .footer-list li {
    padding: 3px 0;
    color: #d21617;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  nav {
    display: none;
  }

  header {
    height: 50px;
  }

  header #logo {
    width: 100px;
  }

  #contact-form {
    width: 300px;
  }

  #contact-form h1 {
    font-size: 14px;
  }

  #contact-form label span {
    text-align: left;
  }

  #contact-form label .input-text {
    padding: 0;
    margin-left: 5px;
  }


  #contact-form label #mensagem {
    width: 270px;
  }

  #contact-form label .button {
    left: 190px;
    padding: 2px 0;
  }

  footer {
    height: 150px;
  }

  footer span {
    font-size: 14px;
  }

  footer #footer-navigation {
      display: block;
  }

  footer #footer-navigation .footer-list {
    display: grid;
    justify-content: space-around;
    text-align: center;
  }

  footer #footer-navigation .footer-list li {
    padding: 3px 0;
    color: #d21617;
    font-size: 12px;
  }
}

/* @media all and (min-width: 250px) and (max-width: 320px) {
  nav {
    display: none;
  }
} */